@model FuncionarioCadastro.Models.Funcionario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Funcionário</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administração)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administração)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salário)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salário)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
