@model IEnumerable<FuncionarioCadastro.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Funcionários</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<form asp-controller="Funcionarios" asp-action="Index">
    <p>
        Nome: <input type="text" name="SearchString" />
        <input type="submit" value="Filtrar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administração)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salário)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administração)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salário)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
